#section_3 .row_5 .img_container {
    border: 1px solid #CFCFCF;
    background: #fff;
    padding: 6.81px 0 6.96px;
}
#footer .text-privacy {
	padding: 0 40px;
}
#footer .phone-number {
	border-left: 1px solid #E7E3DC;
    border-right: 1px solid #E7E3DC;
}
#footer a.privacy_policy{
	display: block;
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: 16px;
}
@media screen and (max-width: 767px) {
    #section_3 .row_5 .img_container {
        padding: 5.24px 0 5.65px;
    }
}
